doctype html
html(lang='en', class='h-full')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Inner Circle
    link(rel='stylesheet', href='/static/styles/main.css')
  body(class='flex h-full flex-col bg-slate-200')
    header(class='bg-gray-800')
      nav(class='mx-auto flex max-w-7xl items-baseline gap-2 px-6 py-2')
        a(href='/', class='text-3xl duration-150 hover:scale-110 hover:saturate-150') 👥
        a(
          href='/room',
          class='mr-auto rounded px-3 py-2 text-gray-200 duration-100 hover:bg-gray-700 hover:text-white'
        ) Room
        if user
          span(class='hidden text-gray-300 sm:inline') Hello, #{ user.username }
          a(
            href='/log-out',
            class='rounded px-3 py-2 text-gray-200 duration-100 hover:bg-gray-700 hover:text-white'
          ) Log out
        else
          a(
            href='/log-in',
            class='rounded px-3 py-2 text-gray-200 duration-100 hover:bg-gray-700 hover:text-white'
          ) Log in
          a(
            href='/sign-up',
            class='rounded px-3 py-2 text-gray-200 duration-100 hover:bg-gray-700 hover:text-white'
          ) Sign up
    main(class='flex-grow')
      div(class='mx-auto h-full max-w-7xl px-6 pb-9 pt-6')
        block content
    footer
      div(
        class='mx-auto flex max-w-7xl flex-col items-center gap-y-3 border-t border-gray-300 px-6 py-4 text-gray-800 sm:flex-row-reverse sm:justify-between'
      )
        div(class='flex gap-x-4')
          a(
            href='https://mcstanley.vercel.app/',
            target='_blank',
            class='duration-100 hover:text-gray-600'
          )
            svg(viewBox='0 0 512 512', fill='currentColor', class='size-6')
              path(
                d='M261.56 101.28a8 8 0 00-11.06 0L66.4 277.15a8 8 0 00-2.47 5.79L63.9 448a32 32 0 0032 32H192a16 16 0 0016-16V328a8 8 0 018-8h80a8 8 0 018 8v136a16 16 0 0016 16h96.06a32 32 0 0032-32V282.94a8 8 0 00-2.47-5.79z'
              )
              path(
                d='M490.91 244.15l-74.8-71.56V64a16 16 0 00-16-16h-48a16 16 0 00-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0043 267.56L250.5 69.28a8 8 0 0111.06 0l207.52 198.28a16 16 0 0022.59-.44c6.14-6.36 5.63-16.86-.76-22.97z'
              )
          a(
            href='https://github.com/McStanley',
            target='_blank',
            class='duration-100 hover:text-gray-600'
          )
            svg(viewBox='0 0 512 512', fill='currentColor', class='size-6')
              path(
                d='M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z'
              )
          a(
            href='https://twitter.com/16stanley16',
            target='_blank',
            class='duration-100 hover:text-gray-600'
          )
            svg(viewBox='0 0 512 512', fill='currentColor', class='size-6')
              path(
                d='M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z'
              )
        small © 2024 Stanisław Olejniczak
